*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body,html{
    height:100%;
    font-family:"Arial", sans-serif
}
form {
	user-select: none;
}
a{
    font-family:"Arial",sans-serif;
    font-size:14px;
    line-height:1.7;
    color:#85eaff;
    margin:0;
    transition:all .4s;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
}
a:focus{
    outline:none!important
}
a:hover{
    text-decoration:none;
    color:#fff
}
h1,h2,h3,h4,h5,h6{
    margin:0
}
p{
    font-size:14px;
    line-height:1.7;
    color:#666;
    margin:0
}
ul,li{
    margin:0;
    list-style-type:none
}
input{
    outline:none;
    border:none
}
textarea{
    outline:none;
    border:none
}
textarea:focus,input:focus{
    border-color:transparent!important
}
input:focus::-webkit-input-placeholder{
    color:transparent
}
input:focus:-moz-placeholder{
    color:transparent
}
input:focus::-moz-placeholder{
    color:transparent
}
input:focus:-ms-input-placeholder{
    color:transparent
}
textarea:focus::-webkit-input-placeholder{
    color:transparent
}
textarea:focus:-moz-placeholder{
    color:transparent
}
textarea:focus::-moz-placeholder{
    color:transparent
}
textarea:focus:-ms-input-placeholder{
    color:transparent
}
input::-webkit-input-placeholder{
    color:#999
}
input:-moz-placeholder{
    color:#999
}
input::-moz-placeholder{
    color:#999
}
input:-ms-input-placeholder{
    color:#999
}
textarea::-webkit-input-placeholder{
    color:#999
}
textarea:-moz-placeholder{
    color:#999
}
textarea::-moz-placeholder{
    color:#999
}
textarea:-ms-input-placeholder{
    color:#999
}
button{
    outline:none!important;
    border:none;
    background:0 0
}
button:hover{
    cursor:pointer
}
iframe{
    border:none!important
}
.txt1{
    font-size:16px;
    color:#ccc;
    line-height:1.4
}
.bo1{
    border-bottom:1px solid #999
}
.hov1:hover{
    border-color:#d33f8d
}
.limiter{
    width:100%;
    margin:0 auto
}
.container-login100{
    width:100%;
    min-height:100vh;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:15px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    z-index:1
}
.container-login100::before{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#005bea;
    background:-webkit-linear-gradient(bottom,#005bea,#00c6fb);
    background:-o-linear-gradient(bottom,#005bea,#00c6fb);
    background:-moz-linear-gradient(bottom,#005bea,#00c6fb);
    background:linear-gradient(bottom,#005bea,#00c6fb);
    opacity:.9
}
.wrap-login100{
    width:390px;
    background:0 0;
	height:440px;
}


.login100-form{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap
}
.login100-form-title{
    font-family:"Arial Black", "Arial Bold";
    font-size:24px;
    color:#fff;
    line-height:1.2;
    text-align:center;
    width:100%;
    display:block;
	text-shadow: 1px 2px 3px #000000;
}

.login100-form-desc{
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#fff;
    line-height:1.2;
    text-align:center;
    width:100%;
    display:block;
}

.login100-form-table{
    font-family:"Arial";
    font-size:14px;
    color:#fff;
    line-height:1.2;
    width:100%;
    display:block;
	padding-bottom: 42px;
	
}

.login100-form-table td {
	padding:5px;
	font-weight: bold;
	user-select: text;
}

.login100-form-table th {
	padding:5px;
	color:#d3d3d3;
	font-weight: normal;
}

.login100-form-avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    overflow:hidden;
    margin:0 auto
}
.login100-form-avatar img{
    width:100%
}
.wrap-input100{
    position:relative;
    width:100%;
    z-index:1
}
.input100{
    font-family:"Arial";
    font-size:15px;
    line-height:1.2;
    color:#333;
    display:block;
    width:100%;
    background:#fff;
    height:50px;
    border-radius:25px;
    padding:0 30px 0 53px
}
.focus-input100{
    display:block;
    position:absolute;
    border-radius:25px;
    bottom:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    box-shadow:0 0;
    color:rgba(0,91,234,.6)
}

.input100:focus+.focus-input100{
    -webkit-animation:anim-shadow .5s ease-in-out forwards;
    animation:anim-shadow .5s ease-in-out forwards
}

.a100:focus, .a100:hover {
    -webkit-animation:anim-blur .2s ease-in-out forwards;
    animation:anim-blur .2s ease-in-out forwards;
	background:linear-gradient(0deg,#adcfff, #ffffff);
}

.a100{
    font-family:"Arial";
    font-size:15px;
    line-height:1.2;
    color:#333;
    display:block;
    width:100%;
    background:#fff;
    height:50px;
    border-radius:25px;
    padding:0 25px 0 25px;
    box-shadow:0 0 2px 2px #134f93;
    box-shadow:0 0 2px 2px #707070;
	background:linear-gradient(0deg,#adcfff, #ffffff);
	background:linear-gradient(0deg,#cfcfcf, #ffffff);
	
}
.symbol-a100{
    font-size:15px;
    color:#999;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    position:absolute;
    border-radius:25px;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
	flex-wrap: nowrap;
	justify-content: center;
    pointer-events:none;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}


@-webkit-keyframes anim-shadow{
    to{
        box-shadow:0 0 80px 30px;
        opacity:0
    }
}
@keyframes anim-shadow{
    to{
        box-shadow:0 0 80px 30px;
        opacity:0
    }
}


@-webkit-keyframes anim-blur{
    to{
        box-shadow:0 0 8px 6px #134f93;
    }
}
@keyframes anim-blur{
    to{
        box-shadow:0 0 8px 6px #134f93;
    }
}

.symbol-input100{
    font-size:15px;
    color:#999;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    position:absolute;
    border-radius:25px;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    padding-left:30px;
    pointer-events:none;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}
.input100:focus+.focus-input100+.symbol-input100{
    color:#00c6fb;
    padding-left:23px
}
.container-login100-form-btn{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}
.login100-form-btn{
    font-family:"Arial Black", "Arial Bold";
    font-size:15px;
    line-height:1.5;
    color:#e0e0e0;
    width:100%;
    height:50px;
    border-radius:25px;
    background:#333;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 25px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
    position:relative;
    z-index:1;
	text-decoration:none;
}
.login100-form-btn::before{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    border-radius:25px;
    top:0;
    left:0;
    background:#005bea;
    
    background:linear-gradient(0deg,#343a40,#51575c);
    
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
    opacity:1;
}
.login100-form-btn:hover{
    background:0 0;
    color:#fff;
}
.login100-form-btn:hover:before {
    opacity:1;
	background:linear-gradient(0deg,#005bea,#00c6fb);
	background:linear-gradient(0deg,#1e8135, #28a745);
	box-shadow:0 0 10px 10px rgba(0,0,0,0.2);;
}



.logoff:hover:before {
    opacity:1;
	background:linear-gradient(0deg,#dc3545,#e05260);
}



.validate-input{
    position:relative
}
.alert-validate::before{
    content:attr(data-validate);
    position:absolute;
    max-width:70%;
    background-color:#fff;
    border:1px solid #c80000;
    border-radius:14px;
    padding:4px 25px 4px 10px;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    right:8px;
    pointer-events:none;
    font-family:"Arial Black", "Arial Bold";
    color:#c80000;
    font-size:13px;
    line-height:1.4;
    text-align:left;
    visibility:visible;
    opacity:.8;
    -webkit-transition:opacity .4s;
    -o-transition:opacity .4s;
    -moz-transition:opacity .4s;
    transition:opacity .4s
}
.alert-validate::after{
    c1ntent:"\f06a";
    font-family:FontAwesome;
    display:block;
    position:absolute;
    color:#c80000;
    font-size:15px;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    right:13px
}
.alert-validate:hover:before{
    visibility:visible;
    opacity:1
}


.alert, .info {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-radius: 25px;
	width:100%;
}

.info {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.alert {
	display: flex!important;
	align-items: center!important;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert svg {
	flex-shrink: 0!important;
	vertical-align: middle;
	margin-right: 0.5rem!important;
}




@media(max-width:992px){
    .alert-validate::before{
        visibility:visible;
        opacity:1
    }
}
@media(max-width:576px){
    .wrap-login100{
        padding:15px;
        
    }
}
